* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--primary-bg);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  overflow-x: hidden;
}

:root {
  --primary-bg: #09090B;
  --secondary-bg: #141319;
  --tertiary-bg: #17171C;
  --text-primary: #ffffff;
  --text-secondary: #9ca3af;
  --border-color: #1f2937;
}

[data-theme="light"] {
  --primary-bg: #f9fafb;
  --secondary-bg: #ffffff;
  --tertiary-bg: #f3f4f6;
  --text-primary: #000000;
  --text-secondary: #4b5563;
  --border-color: #e5e7eb;
}

.sp-text {
   background: conic-gradient(at top, #c084fc, #a855f7); /* from-purple-400 → to-purple-500 */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.icon{
  padding: 15px;
  font-size: 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--secondary-bg);
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--text-primary);
}

.icon:hover {
  background-color: var(--tertiary-bg);
}
